<?xml version="1.0" encoding="UTF-8"?>

<?import java.lang.*?>
<?import java.util.*?>
<?import javafx.scene.*?>
<?import javafx.scene.control.*?>
<?import javafx.scene.layout.*?>

<AnchorPane xmlns="http://javafx.com/javafx"
            xmlns:fx="http://javafx.com/fxml"
            fx:controller="mapper.ParmMapper"
            prefHeight="400.0" prefWidth="600.0">
    <mapper namespace="com.cykj.mapper.ParmMapper">
        <select id="checkLogin" resultType="com.cykj.bean.ParmBean">
            select * from Parm where (PARMID PNAME FATHERID)
            values(#{PARMID} #{PNAME} #{FATHERID});
        </select>
    </mapper>
</AnchorPane>